# Compiled class file
/build/built-jar.properties
/out/
/docs/
*.class
*.exe
*.out

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.arff

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

/dist/
/build/

./dependencies.jar
./exec
./dados.txt
./selene.model
./selene.arff
selene.model
